# Skompilowane binarki
src/rxbd
src/rxb-cli
src/rxb-tx
src/rxb-wallet
src/qt/rxb-qt
src/.libs/
*.o
*.a
*.so
*.so.*
*.exe

# Build artifacts
config.log
config.status
autom4te.cache/
libtool
Makefile
librxbconsensus.pc

# Dane node
*.dat
*.log
*.pid
src/obj/
src/**/.deps/
src/**/.dirstamp
src/qt/moc_*.cpp
src/qt/*.moc
src/qt/qrc_*.cpp
src/qt/locale/*.qm
src/qt/forms/ui_*.h
src/config/rxb-config.h
src/config/stamp-h1
src/librxbconsensus.la
src/**/*.lo
contrib/devtools/split-debug.sh
share/qt/Info.plist
share/setup.nsi
